---
const { t, tshared } = Astro.props;
---

<h2>{t["section.explore.title"]}</h2>
<h3>{t["section.explore.subtitle"]}</h3>
<p>{t["section.explore.text1"]}</p>
<p>{t["section.explore.text2"]}</p>
<div class="cta-buttons">
  <a
    href="https://www.getyourguide.com/vienna-l7/?partner_id=CBISF6I&utm_medium=online_publisher"
    class="cta-button"
    target="_blank"
    rel="noopener"
  >
    {tshared["brand.getyourguide"]} -
    {t["link.tours"]}
  </a>
</div>
<p>{t["section.stay.text"]}</p>
<div class="cta-buttons">
  <a
    href="https://www.awin1.com/cread.php?awinmid=105919&awinaffid=105919&ued=https%3A%2F%2Fwww.trivago.com%2F"
    class="cta-button"
    target="_blank"
    rel="noopener"
  >
    {tshared["brand.booking"]} -
    {t["link.booking"]}
  </a>
</div>
