---
const { lang, t, tshared } = Astro.props;
---

<nav>
  <form>
    <label for="lang-select" class="visually-hidden">Language</label>
    <select id="lang-select" name="lang" onchange="location.href=this.value">
      <option value="/en/" selected={lang === "en"}>{tshared["lang.en"]}</option
      >
      <option value="/" selected={lang === "de"}>{tshared["lang.de"]}</option>
      <option value="/el/" selected={lang === "el"}>{tshared["lang.el"]}</option
      >
      <option value="/es/" selected={lang === "es"}>{tshared["lang.es"]}</option
      >
      <option value="/fr/" selected={lang === "fr"}>{tshared["lang.fr"]}</option
      >
      <option value="/it/" selected={lang === "it"}>{tshared["lang.it"]}</option
      >
      <option value="/ja/" selected={lang === "ja"}>{tshared["lang.ja"]}</option
      >
      <option value="/nl/" selected={lang === "nl"}>{tshared["lang.nl"]}</option
      >
      <option value="/pl/" selected={lang === "pl"}>{tshared["lang.pl"]}</option
      >
      <option value="/sv/" selected={lang === "sv"}>{tshared["lang.sv"]}</option
      >
      <option value="/tr/" selected={lang === "tr"}>{tshared["lang.tr"]}</option
      >
    </select>
  </form>
</nav>
